# This works with openocd-8.0.0 and later

# Uncommenting the following line may be helpful in debugging openocd errors
#debug_level 3

# === daemon configuration ===
telnet_port 4444
gdb_port 3333


# === interface definitions ===
source [find interface/ftdi/dp_busblaster.cfg]

# === target MCU ===
source [find target/at91sam4sXX.cfg]

# Sometimes need to reduce JTAG speed if MCU running on slow clock
#adapter_khz 5000
adapter_khz 500
#adapter_khz 1

$_TARGETNAME configure -event gdb-attach {
   echo "Halting target due to gdb attach"
   halt
}

$_TARGETNAME configure -event gdb-detach {
   echo "Resuming target due to gdb detach"
   resume
}
